/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* White background */
  color: #5E1B89;
}

/* New gradient box styling */
.gradient-box {
  position: fixed; /* Keep it fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Height set to 60px */
  background: linear-gradient(to right, #F4512C, #5E1B89); /* Gradient background */
  z-index: 999; /* Ensure it's above other elements */
}

/* Adjust the main content padding to avoid overlap */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 60px; /* Adjusted top padding to make space for the gradient box */
  text-align: center;
  position: relative; /* Make container relative for positioning child elements */
}

/* Logo Styling */
.logo,
.logo-lexmeet {
  height: 8em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em hsla(0, 0%, 8%, 0.667)); /* Subtle shadow effect */
}

/* Header Styling */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

header h1 {
  margin: 0;
  display: inline-block;
  font-size: 2.5rem; /* Adjust size as needed */
  animation: wiggleWiggle 1s infinite alternate;
}

@keyframes wiggleWiggle {
  20%, 100% {
    transform: translateY(3px);
  }
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(3px);
  }
}

/* Search Styling */
.search-container {
  position: fixed;
  top: 5rem; /* Adjusted distance from top */
  right: 1rem; /* Distance from right */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #666;
  color: #666;
  width: 200px; /* Adjust width as needed */
}

/* Task Input and Buttons Styling */
.task-input {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.task-input input[type="text"] {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #666;
  color: #666;
}

.task-input button.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #9D71BC;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.task-input button.comic-button:hover {
  background-color: #FF7F4D;
  color: #fff;
  border: 2px solid #ff5252;
}

.task-input button.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

/* Additional Buttons Styling */
.task-input button.done-all-button,
.task-input button.delete-all-button {
  background-color: #9D71BC;
  border: 2px solid #666;
}

.task-input button.done-all-button:hover,
.task-input button.delete-all-button:hover {
  background-color: #FF7F4D;
  border: 2px solid #ff5252;
}

.task-input button.done-all-button:active,
.task-input button.delete-all-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

/* Task List and Item Styling */
.task-list {
  list-style: none;
  padding: 3em 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.task-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background: linear-gradient(to right, #F4512C, #5E1B89); /* Gradient background */
  color: #ffffff; /* White text for task items */
  border-radius: 18px;
  transition: transform 0.3s ease; /* Transition for hover effect */
  position: relative;
  width: calc(33.333% - 1em); /* Three items per row with space for gaps */
  box-sizing: border-box;
  overflow: hidden; /* Hide overflow content */
}

.task-item:hover {
  transform: translateY(-5px); /* Move task up on hover */
}

.task-item.done .task-content span {
  text-decoration: line-through;
  color: #aaa;
}

.task-content {
  margin-bottom: 1em;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis when text overflows */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Task Buttons Styling */
.task-buttons {
  display: flex;
  gap: 0.5em;
}

.task-buttons button {
  background-color: #ffffff; /* White background for buttons */
  color:  #808080; /* Grey text for contrast */
  border: 2px solid #000; /* Black border */
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: none; /* Remove box shadow */
}

.task-buttons button:hover {
  background-color: #FF7F4D; /* Light color on hover */
  color: #fff;
  border: 2px solid #ff5252;
}

.task-buttons button:active {
  background-color: #fcf414;
  transform: translateY(2px);
}

/* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: linear-gradient(to right, #F4512C, #5E1B89); /* Gradient background */
  padding: 2em;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  max-width: 500px; /* Adjusted width for more space */
  max-height: 80vh; /* Ensure modal does not exceed viewport height */
  overflow-y: auto; /* Allow vertical scroll if needed */
  box-sizing: border-box; /* Include padding in width and height */
  position: relative; /* Ensure positioning context for child elements */
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  margin: 1em 0;
  word-wrap: break-word; /* Break long words to fit inside */
  white-space: pre-wrap; /* Preserve white spaces and line breaks */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis if needed */
}

.modal input[type="text"],
.modal input[type="date"],
.modal input[type="time"] {
  display: block;
  width: calc(100% - 2em); /* Ensure inputs fit within the modal */
  margin: 0.5em auto;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #666;
  color:  #666;
}

.modal button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #666;
}

/* New styles for date of creation */
.date-created {
  font-size: 0.75em;
  color: #ddd;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

/* Task date creation style */
.task-date-created {
  font-size: 0.75em;
  color: #ddd;
  text-align: right;
  margin-top: 1em;
}

/* Lexmeet Logo Styling */
.logo-lexmeet {
  height: 2.5em; /* Slightly smaller size */
  position: fixed; /* Fixed position at the top left */
  top: 50px; /* Distance from top */
  left: 2px; /* Distance from left */
}

